/*textarea {*/
    /*width: 100%;*/
    /*min-height: 130px;*/
    /*border-width: 0px;*/
    /*box-sizing: border-box;*/
/*}*/
.inputDiv, .outputDiv {
    /*width: 100%;*/
    padding: 20px 20px 20px 20px;
    background-color: #fff;
}
.inputDiv {
    /*height: 200px;*/
    position: relative;
}
.inputDiv:hover{
    box-shadow: -10px 0 20px #d7d7d7,0 -10px 20px #d7d7d7,10px 0 20px #d7d7d7,0 10px 20px #d7d7d7;
}

.inputDiv .title{
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    color: #333333;
    padding-bottom: 20px;
}
/*.inputDiv .inputText {*/
    /*padding: 30px 10px 0px 10px;*/
/*}*/

/*.submitDiv{*/
    /*position: absolute;*/
    /*z-index: 1000;*/
    /*right: 20px;*/
    /*bottom: 10px;*/
/*}*/

/*.submitDiv #formatBtn {*/
    /*width: 116px;*/
    /*height: 34px;*/
    /*background-color: #ccc;*/
    /*color:#fff;*/
    /*border:0;*/
    /*border-radius: 34px;*/
    /*font-size: 16px;*/
    /*cursor: pointer;*/
    /*outline: none;*/
/*}*/

/*.outputDiv {*/
    /*min-height: 400px;*/
    /*position: relative;*/
    /*margin-top: 20px;*/
/*}*/
/*.outputDiv:hover{*/
    /*box-shadow: -10px 0 20px #d7d7d7,0 -10px 20px #d7d7d7,10px 0 20px #d7d7d7,0 10px 20px #d7d7d7;*/
/*}*/
/*.outputDiv .outputText {*/
    /*height: 400px;*/
    /*padding: 0 10px 0px 10px;*/
/*}*/
/*.tooltip {*/
    /*width: 48px;*/
    /*height: 300px;*/
    /*!*border: 1px solid #86858e;*!*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*!*display: none;*!*/
/*}*/


/*.icon_lists li{*/
    /*!*float:left;*!*/
    /*width: 48px;*/
    /*height:48px;*/
    /*text-align: center;*/
/*}*/
/*.icon_lists .icon{*/
    /*font-size: 42px;*/
    /*line-height: 48px;*/
    /*margin: 10px 0;*/
    /*color:#333;*/
    /*-webkit-transition: font-size 0.25s ease-out 0s;*/
    /*-moz-transition: font-size 0.25s ease-out 0s;*/
    /*transition: font-size 0.25s ease-out 0s;*/
/*}*/
/*.icon_lists .icon:hover{*/
    /*color: #bd3030;*/
    /*!*font-size: 48px;*!*/
/*}*/
/*.hidden{*/
    /*display: none;*/
/*}*/


/*.result{*/
    /*!*margin: 15px;*!*/
/*}*/
/*.result-title{*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*background: #fff;*/
    /*padding: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*color:#ff0000;*/
/*}*/
/*.result-data{*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*background: #fff;*/
    /*padding: 5px 10px 5px 15px;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*position: relative;*/
/*}*/

/*.result-data .result-data-right {*/
    /*position: absolute;*/
    /*right: 15px;*/
/*}*/
.container {
    width: 100%;
    padding: 0;
}
.content_type_1{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: #67b73c;
}
.content_type_2{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: #337ab3;
}