.content{
    width: 682px;
}
.tip{
    /*display: none;*/
    position: absolute;
    font-size: 12px;
    line-height:30px;
    padding-left: 5px;
}
.runner{
    font-weight: 900;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    left: 339px;
    top: 359px;
    cursor: pointer;
}
.runner > div{
    margin-left: 5px;
    margin-top: 5px;
    width: 70px;
    height: 70px;
    border-radius: 34px;
    border: 1px solid #1b0601;
    text-align: center;
    line-height: 70px;
    box-sizing: border-box;
}
.runner-start{
    color: #0fff47;
    background-color: #19351e;
}

.runner-stop{
    color: #ff473b;
    background-color: #3d1513;
}

.lf {
    float: left;
    /*text-align: center;*/
}
.bgtimer{
    background-color: #373430;
}
.history {
    width: 240px;
    min-height: 720px;
    color: #ffffff;
    border-left: 1px solid #f0f0f0;
    margin-left: 1px;
}
.history-title {
    text-align: center;
    padding-top: 25px;
    padding-left: 10px;
    color: #999999;
}
.history-title2 {
    text-align: center;
    font-size: 12px;
    padding-bottom: 22px;
    padding-left: 10px;
    color: #999999;
}
.statistic-data{
    /*font-size: 20px;*/
    text-align: left;
    /*padding-left: 20px;*/
}
.history-data .history-tip{
    display: inline-block;
    width: 72px;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    /*color: #FF2F2F;*/
    padding-left: 20px;
}

.history-data .history-text{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
    padding-left: 76px;
}
.statistic-data > div{
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px dashed #666;
    padding: 20px 0 20px 20px;
}
.history-data > div{
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px dashed #666;
    /*padding: 20px 0 20px 0;*/
}

.statistic-data div span{
    padding-left: 260px;
}
.other{
    background-color: #2d2b28;
    min-height: 280px;
    color:#fff;
}
.other-title{
    height: 60px;
    box-sizing: border-box;
    padding: 20px 0 20px 20px;
    color:#999999;
    /*padding-top: 30px;*/
    /*padding-bottom: 20px;*/
    /*padding-left: 20px;*/
    border-bottom: 1px dashed #666;
}
