<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!--CREATE TABLE `article` (-->
<!--`id` bigint(20) NOT NULL AUTO_INCREMENT,-->
<!--`title` varchar(500) DEFAULT '' COMMENT '标题',-->
<!--`content` blob DEFAULT '' COMMENT '内容，属于富文本',-->
<!--`readCount` int(11) DEFAULT '0' COMMENT '在csdn阅读量',-->
<!--`commentCount` int(11) DEFAULT '0' COMMENT '在csdn评论量',-->
<!--`csdnLink` varchar(2000) DEFAULT '' COMMENT '在csdn中的原始链接',-->
<!--`graspTime` varchar(2000) DEFAULT '' COMMENT '抓取时间戳，格式yyyyMMddHHmmss',-->
<!--`contentType` int(1) DEFAULT '1' COMMENT '内容类型1：原创；2，转载',-->
<!--`contentDesc` varchar(2000) DEFAULT '' COMMENT '内容简介',-->
<!--`create_time` datetime DEFAULT NULL COMMENT '创建时间',-->
<!--`create_pin` varchar(50) DEFAULT NULL COMMENT '创建人',-->
<!--`update_time` datetime DEFAULT NULL COMMENT '更新时间',-->
<!--`update_pin` varchar(50) DEFAULT NULL COMMENT '更新人',-->
<!--`sys_version` int(11) NOT NULL DEFAULT '1' COMMENT '数据版本号',-->
<!--`yn` tinyint(4) DEFAULT '0' COMMENT '删除标示',-->
<!--`ts` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '时间戳',-->
<!--PRIMARY KEY (`id`)-->
<!--) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8-->


<mapper namespace="ArticleMapper">
    <!--result map config-->
    <resultMap id="ArticleMap" type="com.lzc.home.domain.entity.Article">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="BLOB" typeHandler="com.lzc.home.dao.ConvertBlobTypeHandler"/>
        <result column="readCount" property="readCount" jdbcType="INTEGER"/>
        <result column="commentCount" property="commentCount" jdbcType="INTEGER"/>
        <result column="csdnLink" property="csdnLink" jdbcType="VARCHAR"/>
        <result column="graspTime" property="graspTime" jdbcType="VARCHAR"/>
        <result column="contentType" property="contentType" jdbcType="INTEGER"/>
        <result column="contentDesc" property="contentDesc" jdbcType="VARCHAR"/>

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_pin" property="createPin" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_pin" property="updatePin" jdbcType="VARCHAR"/>
        <result column="sys_version" property="sysVersion" jdbcType="INTEGER"/>
        <result column="yn" property="yn" jdbcType="BINARY"/>
    </resultMap>

    <!--columns config-->
    <sql id="allColumn">
  id,title,content,readCount,commentCount,csdnLink,graspTime,contentType,contentDesc,create_time,create_pin,update_time,update_pin,sys_version,yn
  </sql>

    <!-- query conditions -->
    <sql id="sqlCondition">
        <if test="null != id and id != ''">
            and id = #{id,jdbcType=BIGINT}
        </if>

        <if test="null != graspTime and graspTime != ''">
            and graspTime = #{graspTime,jdbcType=VARCHAR}
        </if>
        <if test="null != createTime and createTime != ''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="null != createPin and createPin != ''">
            and create_pin = #{createPin,jdbcType=VARCHAR}
        </if>
        <if test="null != updateTime and updateTime != ''">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="null != updatePin and updatePin != ''">
            and update_pin = #{updatePin,jdbcType=VARCHAR}
        </if>
        <if test="null != sysVersion and sysVersion != ''">
            and sys_version = #{sysVersion,jdbcType=INTEGER}
        </if>
        <if test="null != yn and yn != ''">
            and yn = #{yn,jdbcType=BINARY}
        </if>
    </sql>

    <!-- insert sql -->
    <insert id="insertArticle" parameterType="com.lzc.home.domain.entity.Article">
    insert into Article(title,content,readCount,commentCount,csdnLink,
                         graspTime,contentType,contentDesc,
                         create_time,create_pin,update_time,update_pin)
  values (
     #{title,jdbcType=VARCHAR},#{content,jdbcType=BLOB},#{readCount,jdbcType=INTEGER},#{commentCount,jdbcType=INTEGER},#{csdnLink,jdbcType=VARCHAR},
     #{graspTime,jdbcType=VARCHAR},#{contentType,jdbcType=INTEGER},#{contentDesc,jdbcType=VARCHAR},
     now(),#{createPin,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR},#{updatePin,jdbcType=VARCHAR})
  </insert>

    <!--update sqls-->
    <update id="updateArticle" parameterType="com.lzc.home.domain.entity.Article">
    update Article
    set content = #{content,jdbcType=VARCHAR},sys_version = sys_version+1
    where
    id = #{id,jdbcType=BIGINT}
    </update>


    <!-- select sqls -->
    <select id="selectArticleByPrimaryKey" resultMap="ArticleMap" parameterType="java.lang.Integer">
        select
        <include refid="allColumn"/>
        from Article
        where id = #{id,jdbcType=BIGINT}

    </select>

    <select id="getArticlePageQueryCount" resultType="java.lang.Integer" parameterType="com.lzc.home.domain.entity.Article">
        select count(1)
        from Article
        where 1 = 1
        <include refid="sqlCondition"/>
    </select>
    <select id="getArticlePageQuery" resultMap="ArticleMap" parameterType="com.lzc.home.domain.entity.Article">
        select
        <include refid="allColumn"/>
        from Article
        where 1 = 1
        <include refid="sqlCondition"/>
        limit #{qryStart,jdbcType=INTEGER},#{qryCount,jdbcType=INTEGER}
    </select>

</mapper>