<!DOCTYPE html>
<html>
<head>
    <title>Format Every Thing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="description" content="Format,Format SQL,Format JSON,Format EveryThing">
    <meta name="Keywords" content="Format,Format SQL,Format JSON,Format EveryThing">
    <link href="http://www.360buy.com/favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" href="#springUrl('')/static/iconfont/iconfont.css">
    <script type="text/javascript" src="#springUrl('')/static/scripts/base/jquery.js"></script>
</head>
<body>
<div id="container" class="w-frame clearfix">
    <div id="content-frame">
        $screen_content
    </div>
</div>
</body>
</html>

