<div class="left">
    <div class="logo">
        <a href="http://alioo.online" class="jd"><img src="/static/image/logo.png"></a>
    </div>
    <div class="left-menu">
        <ul>
            <li class="menu" alt="Timer"><img src="/static/image/timer.png"></li>
            <li class="menu active"><img src="/static/image/formatter.png"></li>
        </ul>
    </div>
</div>