* {
    margin: 0;
    padding: 0;
    font-family:"Microsoft YaHei 微软雅黑 宋体 Microsoft YaHei";
}

textarea {
    resize: none;
    outline: none;
}

ul, ol {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

html, body {
    height: 100%;
    background-color: #efefef;
}
.none{
    display: none !important;
}
/**实际测试使用伪类清除浮动时需要加上content:" ";display:block;这两句话*/
.clearfix:after {
    content:" ";
    display:block;
    clear: both;
}
.page {
    height: 100%;
}

/**设置左侧菜单与右侧内容div布局*/
/*.page>div{*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*}*/
.page .left {
    float: left;
}
.page .left:after {
    content: ' ';
    clear: both;
    display: block;
}

.container {
    margin-left: 70px;
    /*background-color: #efefef;*/
}

/**left*/
.left {
    background-color: #112a40;
    height: 100%;
    width: 70px;
    position: fixed;
}
.left-menu img {
    width:70px;
}

.left-menu ul li {
    color: #fff;
    height: 60px;
    line-height: 60px;
}

.left-menu ul li.active {
    background-color: #1a222a;
}

.left-menu ul li:hover {
    background-color: #1a222a;
}

/**left*/

/**header*/
.header {
    height: 46px;
    background-color: #fff;
    box-shadow: 0 10px 20px #dbdbdb;
}

.header:after {
    content: ' ';
    clear: both;
    display: block;
}

.header-left {
    float: left;
    height: 46px;
    /*line-height: 46px;*/
}
.header-left .nav{
}
.header-right {
    float: right;
    margin-right: 10px;
}

/**这里的>指的是只作用于下一级元素*/
.header-right > div {
    float: left;
}
.header-right .now{
    height: 24px;
    margin-top: 11px;
    margin-right: 4px;
}
.updown{
    padding-top:11px;
}

.updown .updown-time,.updown .updown-week{
    color: #666;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}
.logo{
    height: 46px;
    display: block;
}
/**header*/

.content {
    width: 96%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    /*左边阴影*/
    /*顶部阴影*/
    /*底部阴影*/
    /*右边阴影*/
    /*box-shadow: -10px 0 20px #ddd,*/
    /*0 -10px 30px #ddd,*/
    /*0 10px 30px #ddd,*/
    /*10px 0 20px #ddd;*/
}
