#set($layout = "layout/null.vm")
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Format EveryThing</title>
    <!-- @author:lzc.java@icloud.com -->
    #parse("/layout/common.vm")
    <link rel="stylesheet" href="#springUrl('')/static/styles/app.css">
    <link rel="stylesheet" href="#springUrl('')/static/styles/format.css">
    <script type="text/javascript" src="#springUrl('')/static/scripts/app.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.inputText').on('input porpertychange', function() {
                if($.trim($(this).val()) !== ""){
                    $('#formatBtn').css('background-color','#000');
                    $("#formatBtn").click();
                } else {
                    $('#formatBtn').css('background-color','#ccc');
                }
            });



            var btn = $("#formatBtn");
//            var tooltip = $(".tooltip")
            $("#formatBtn").click(function () {
                if(btn.val()=="处理中..."){
                    return false;
                }
                btn.attr("disabled", true);
                btn.val("处理中...");
//                tooltip.hide();

                var paramdata = {};
                paramdata.source = $("#source").val();
                $.ajax({
                    type: 'POST',
                    url: '#springUrl('')/format/format.json',
                    data: paramdata,
                    dataType: 'json',
                    success: function (result) {
                        var obj = $("#target");
                        if (result.success == '1') {
                            obj.val(result.target);
                            reSizeTarget();
                        } else {
                            obj.val(result.msg + "\n" + result.target);
                        }

                        btn.attr("disabled", false);
                        btn.val("Format");
//                        tooltip.show("slow");
                    },
                    error: function (result) {
                        var obj = $("#target");
                        obj.val(result.msg);

                        btn.attr("disabled", false);
                        btn.val("Format");
//                        tooltip.removeClass("hidden");
//                        tooltip.show("slow");
                    }
                });
            });

//            $(".max").click(function () {
//                myWindow = window.open('', '');
//                myWindow.document.write('<textarea id="target" name="target" class="outputText"></textarea>');
//                var obj = $(myWindow.document).find("#target");
//                obj.val($("#target").val());
//                obj.css({
//                    "width": " 100%",
//                    "min-height": "100%",
//                    "padding": " 0px 5px 0px 5px",
//                    "border-width": "0px",
//                    "box-sizing": "border-box"
//                });
//                myWindow.focus();
//                myWindow.load();
//            });

            function reSizeTarget() {
                var target = $("#target");
                var nativeTarget = target[0];
                var dh = target.attr('defaultHeight') || 0;
                if (!dh) {
                    dh = nativeTarget.clientHeight;
                    target.attr('defaultHeight', dh);
                }
                nativeTarget.style.height = dh + 'px';
                var clientHeight = nativeTarget.clientHeight;
                var scrollHeight = nativeTarget.scrollHeight;
                console.log("clientHeight=" + clientHeight + ",scrollHeight=" + scrollHeight);
                if (clientHeight !== scrollHeight) {
                    nativeTarget.style.height = scrollHeight + 10 + "px";
                }
            }

            $(document).keydown(function (event) {
                console.log(event.ctrlKey + "==" + event.which)

                if (event.ctrlKey && (event.which == 69 || event.which == 81 )) {  //Ctrl+E
                    $("#formatBtn").click();
                    return false;
                }
            });

        });
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0650df3b90de1b6a01acc72869daf305";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div id="index" class="page">
##    #parse("/common/left.vm")
    <div class="container">
        #parse("/common/top.vm")

        <div class="content">
            <div class="inputDiv">
                <div class="title">原始数据</div>
                <textarea id="source" name="source" class="inputText" placeholder="请输入内容"></textarea>

                <div class="submitDiv">
                    <input id="formatBtn" type="button"  value="Format">
                </div>
            </div>

            <div class="outputDiv">
##                <div class="tooltip hidden">
##                    <ol class="icon_lists clear">
##                        <li><i class="icon iconfont max">&#xe603;</i></li>
##                        <li><i class="icon iconfont">&#xe601;</i></li>
##                        <li><i class="icon iconfont ">&#xe602;</i></li>
##                        <li><i class="icon iconfont ">&#xe604;</i></li>
##                    </ol>
##                </div>
                <textarea id="target" name="target" class="outputText"></textarea>
            </div>
        </div>
    </div>
</div>
</body>
</html>