* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-size: 14px;
}

input {
    border: 0 none; /** 去掉一般情况下显示的边框 */
    outline: none; /** 去掉input获取焦点时候的边框 */
}

select {
    border: 0 none; /** 去掉一般情况下显示的边框 */
    outline: none; /** 去掉input获取焦点时候的边框 */
}

#container {
    /*margin:0 0 0 10px;*/
    /*padding-left: 10px;*/
}

.tip {
    padding: 15px 0 10px 15px;
    line-height: 20px; /** 如果文本内容有多行折行,控制每行的高度 */
}

.red {
    color: #ff5757;
}

.whiteDiv {
    padding: 15px 0 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}

.whiteDiv span {
    width: 15%;
    margin-right: 10px;
}

.whiteDiv input {
    width: 75%;
}

.whiteDiv select {
    width: 75%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.whiteDiv textarea {
    width: 98%;
    border: 1px solid #e8e8e8;
    outline: none; /** 去掉input获取焦点时候的边框 */
    margin-top: 10px;
    height: 68px;
    resize: none; /** 不能改变文本框大小 */
}

.picul {
    padding: 10px 0 5px 0;
}

.picul li {
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    width: 82px;
    height: 82px;
    background: #FFFFFF url('img_add.jpg') center no-repeat;
    list-style: none;
    display: inline-block; /** 水平排列 */
    position: relative;    /** 为其中的子元素 i标签 服务，如果这里不设置子元素i设置absolute将不生效 */
    overflow: hidden;      /** 当内部元素溢出时隐藏溢出的部分，比如其中的i标签右上角 */
}
.picul li img{
    width: 100%;  /** 不设置该参数时img不会压缩 */
    height: 100%;
}
.picul li i {
    background: url('icon_delete.png') center no-repeat;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    position: absolute;   /** 只有设置了absolute 才能使用 right,top属性 */
    right: 0;
    top: 0;
}

.whiteDiv .fail {
    display: none;
    color: #ff0000;
    width: 160px;
    position: absolute;
    right: 0; /** 右对齐的前提是 position: absolute; */
    text-align: right;
    font-size: 12px;
}

.button-box {
    text-align: center;
    /*margin-top: 15px;*/
}

button {
    background-color: #47b34f;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
}

/*msg()*/
.vertical-middle-msg{
    position:fixed;
    z-index:1003;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:120%;
}
.vertical-middle-msg td {
    text-align:center;
    vertical-align:middle;
}
.msg-content {
    position: relative;
    top: -50px;
    display: inline-block;
    min-width: 140px;
    padding: 15px 12px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}
